body {
  display: grid;
  grid-template-columns: 1fr 90% 1fr  ;
  grid-row-gap: 80px;

  grid-template-areas: 
        ". titel ."
        ". info ."
        ". omgeving ."
        ". voorraad ."; 
}

header {
  display: flex;
  flex-flow: column;
}

header img {
  align-self: center;
}

section {

}

.header {
  grid-area: titel;
} 

.voertuiginformatie {
  grid-area: info;
}

.voertuigomgeving {
  grid-area: omgeving;
}

.voorraden {
  grid-area: voorraad;
}

/************Mid**************/
@media only screen and (min-width: 601px) {

  body {
    display: grid;
    grid-template-columns: 1fr 45% 45% 1fr  ;
    grid-row-gap: 2em;
    grid-column-gap: 1em; 

    grid-template-areas: 
          ". titel titel ."
          ". info omgeving ."
          ". info omgeving ."
          ". voorraad voorraad ."; 
  }
  section:nth-child(4) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .voorraden h2 {
  }
}
/**********End Mid************/

/***********Large*************/
@media only screen and (min-width: 1024px) {

}

/*********End Large***********/

/************XL**************/
@media only screen and (min-width: 1824px) {

}

/**********End XL************/







