html{
  box-sizing: border-box;
}

*, 
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: avenir next, sans-serif;
  padding: 2% 0% 3% 0%;
}

/****** HEADER STYLES ******/

img {
  margin: 0% 0% 10% 0%;
  width: 75%;
}

h1 {
  color: #175288;
  font-size: 1.5em;
}

h2 {
  color: #175288;
  margin: 0% 0% 5% 0%;
  font-size: 1.3em;
}

h3 {
  font-weight: normal;
  color: white;
  margin: 0% 0% 2% 0%;
  font-size: 1.1em;
  text-align: center;
}

p {
  margin: 0;
}

/****** CONTENT STYES ******/

h2+div {
  margin-bottom: 2em;
}

h2~div {
  padding: 4%;
  border: 1px solid white;
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, #175288, #519be1);
}

.chart-container {
  padding: 10px;
  position: relative;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
}

/************Mid**************/
@media only screen and (min-width: 601px){

  h2~div {
  padding: 3%;

}

.chart-container {
  padding: 1.5%;
}

img {
  margin: 0% 0% 10% 0%;
  width: 60%;
}
/**********End Mid************/

/***********Large*************/
@media only screen and (min-width: 1024px) {
  img {
    margin: 0% 0% 10% 0%;
    width: 40%;
}
/*********End Large***********/

/************XL**************/
@media only screen and (min-width: 1824px) {
  
}
/**********End XL************/